body {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    font-family: 'Lucida Console', sans-serif;
    background-color: rgb(221, 255, 252);
}

.grid{
    background-color: whitesmoke;
    border: 1px solid black;
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    height: 80vh;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #333;
    padding: 20px;
    background-color: red;
}

#container>div {
    border: 1px solid black;
    height: 25px;
    width: 25px;
}

#container>div:nth-child(16n + 1) {
    width: 100%;
    border: 0;
    height: 0;
}