:root {
    --grid-cols: 16;
    --grid-rows: 16;
  }
  

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    font-family: 'Lucida Console', sans-serif;
    background-color: rgb(221, 255, 252);
}

.grid-item {
    background-color: whitesmoke;
    border: 1px solid rgb(219, 219, 219);
    text-align: center;
  }

#container {
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    width: 70vh;
    height: 70vh;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #333;
    padding: 20px;
    background-color: red;
    margin: 10px;   
}

.settings {
  display: flex;
}

button {
  background: #ededed;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 5rem;
  margin: 2.5px;
  padding: 5px;
  cursor: pointer;
}

button:active {
  transform: translateY(2px);
}

.active {
  transform: translateY(1px);
  -webkit-box-shadow: inset 5px 5px 5px #767676;
     -moz-box-shadow: inset 0px 5px 5px #767676;
          box-shadow: inset 0px 0px 5px #767676;
   outline: none;
}